
APP_ADMIN_EMAIL=admin@darukaa.earth
APP_ADMIN_PASSWORD=ChangeMe_Admin_123!
APP_SEED_DEMO=true
# Published ports. Frontend nginx listens on 80 inside the container.
FRONTEND_PORT=5173
BACKEND_PORT=8080

